header {
    background-color: #1e1e2e;
    padding: 1rem 2rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
}

nav a:hover {
    color: #a0a0ff;
}

nav div {
    display: flex;
    gap: 1rem;
}

nav span {
    color: #fff
}

nav button {
    background-color: #1e1e2e;
    border: 1px solid white;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}